<h1>Login Here:</h1>
<%= form_with url: login_path do |f| %>
    <%= f.label :username %>
    <%= f.text_field :username %>
    <%= f.label :password %>
    <%= f.password_field :password %>
    <%= f.submit 'Log In' %>
<% end %>

<h4>Or login with <%= link_to "Google", '/auth/google_oauth2' %></h4>
<h4>Or login with <%= link_to "Facebook", '/auth/facebook' %></h4>
